In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
government_office_region_name = ['Channel Islands', 'East Midlands', 'East of England', 'Isle of Man', 'London',
                               'MISSING','No Government Office Region Code Supplied','North East','North West',
                               'Northern Ireland','Scotland','South East','South West','Wales','West Midlands',
                               'Yorkshire and The Humber']

government_office_region_percentage = [0, 6.29, 7.74, 0, 15.44, 6.58, 0, 4.18, 11.52, 2.28, 7.43, 
                                       10.59, 6.99, 4.22, 8.83, 7.92]



age_percentage = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.02,0.13,0.62,1.47,2.05,2.36,2.6,2.82,2.88,2.84,2.78,2.8,2.83,2.91,
                  2.92,2.99,2.89,2.86,2.75,2.62,2.55,2.42,2.3,2.23,2.14,2.14,1.98,1.8,1.66,1.63,1.6,1.59,1.55,
                  1.57,1.58,1.56,1.5,1.48,1.42,1.36,1.31,1.27,1.19,1.14,1.06,1.03,0.92,0.88,0.82,0.75,0.66,0.47,
                  0.15,0.08,0.06,0.05,0.04,0.03,0.03,0.02,0.01,0.01,0.01,0.01,0.01,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
                  0,0,0,0,0,5.8]

age_list = list(range(1,101))

In [3]:
synth_population_factor = 1000

In [4]:
#
# decided to keep age categorical for now.
#

first = True
for idx, age in enumerate(age_list):
    num_elements = round((age_percentage[idx] * synth_population_factor))
    if idx == 99:
        temp = np.full((1, num_elements), np.nan)
    else:
        temp = np.full((1, num_elements), age)
    if first == True:
        array = temp
        first = False
    else:
        array = np.append(array, temp)
        
array = array[0:synth_population_factor*100] #rouning errors remove unwanted elements.
age_df = pd.DataFrame(array)

In [5]:

first = True
for idx, region in enumerate(government_office_region_name):
    num_elements = round((government_office_region_percentage[idx] * synth_population_factor))
    temp = np.full((1, num_elements), region)
    if first == True:
        array = temp
        first = False
    else:
        array = np.append(array, temp)
        
array = array[0:synth_population_factor*100] #rouning errors remove unwanted elements.
region_df = pd.DataFrame(array)

#
# need to add more here for the other categorical data needed
#

In [6]:
# could create a function?

In [7]:
index = list(range(0, 100000))
random.shuffle(index)

In [8]:
target_df = pd.DataFrame(index, columns=['pk'])

In [9]:
target_df = pd.concat([target_df, region_df, age_df], axis=1)

In [10]:
target_df = target_df.sort_values(by=['pk'], ignore_index=True)

In [11]:
target_df

          pk                         0     0
0          0                South West  52.0
1          1                  Scotland  42.0
2          2                South West  50.0
3          3             East Midlands  20.0
4          4  Yorkshire and The Humber   NaN
...      ...                       ...   ...
99995  99995                     Wales  56.0
99996  99996             East Midlands  21.0
99997  99997                South East  46.0
99998  99998                South East  48.0
99999  99999                  Scotland  39.0

[100000 rows x 3 columns]